/*专家各个页面的样式集合*/
.claim_content{
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.04);
    border-radius: 2px;
    margin-bottom:30px;
}
.claim_top_ul{
    border-bottom: 1px solid #EBEBEB;
    margin: 0 20px;
}
.claim_top_li{
    display: inline-block;
    width: 29%;
}
.claim_top_li.usecase-topli{
    width: 31%;
}
.claim_top_li:nth-child(2){
    width: 31%;
    position: relative;
    top: -14px;
    /*padding-left: 110px;*/
}
.claim_top_li:nth-child(3){
    width: 37%;
    position: relative;
    top: -14px;
    /*padding-left: 108px;*/
}
.acc_top_ul{
    border-bottom: 1px solid #EBEBEB;
    margin: 0 20px;
    padding:20px 0;
}
.acc_top_li{
    display: inline-block;
}
.acc_top_li.usecase-topli{
    display: inline-block;
    width: 217px;
    float: left;
}
.acc_top_li:nth-child(2){
    width: 356px;
    position: relative;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    padding-left: 16px;
}
.acc_top_li:nth-child(3){
    width: 338px;
    position: relative;
    border-right: 1px solid #dddddd;
}
.acc_top_li:nth-child(4){
    padding-left: 34px;
}

.adr-logo{
    margin-right: 10px;
}
.cus-top-ul .acc_top_li.usecase-topli{
    width: 237px;
}
.cus-top-ul .acc_top_li:nth-child(2){
    width: 390px;
    padding-left: 50px;
}
.cus-top-ul .acc_top_li:nth-child(3){
    width: 376px;
    padding-left: 27px;
}
.cus-top-ul .acc_top_li:nth-child(4){
    padding-left: 43px;
    width: 146px;

}

.claim_top_title{
    font-size: 13px;
    color: #666666;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 0;
    line-height: 23px;
}
.claim_top_title.No-center{
    text-align: left;
    padding: 6px 0 15px;
}
.residue-data-wap{
    display: inline-block;
    width: 120px;
}
.residue-data-wap.customer-data{
    display: block;
}
.residue-data{

    font-size: 13px;
    color: #333333;
    letter-spacing: 0px;
    line-height: 22px;
    margin-bottom: 0;
}






.claim_topApp{
    margin: 30px 30px 30px 0;
    float: left;
}
.App_name{
    font-size: 16px;
    color: #333333;
    letter-spacing: 0px;
    margin-top: 36px;
}
.App_desgin{
    background: #FFFFFF;
    border: 1px solid #1081DE;
    border-radius: 2px;
    font-size: 12px;
    color: #1081DE;
    letter-spacing: 0;
    line-height: 22px;
    padding: 0 15px;
    outline: none;
    margin-top: 4px;
}
.App_desgin:hover{
    color: #3098F2;
}
.claim_discribe{
    padding: 30px 0 30px 30px;
}
.claim_discribe.usecase-dis{
    padding-left: 21px;
}
.discribe_title{
    font-size: 13px;
    color: #666666;
    letter-spacing: 0px;
}
.fl-marTop{
    margin-top: 5px;
    float: left;
}
.task_discribe{
    width: 90%;
    padding-left:10px; ;
    font-size: 13px;
    color: #333333;
    letter-spacing: 0px;
    line-height: 24px;
    clear: both;
    display: inline-block;
}
.task_discribe.form-control{
    width: 971px;
    height: 80px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
}
.task_discribe.form-control:focus {
    border-color: #66afe9;
    outline: 0;
}
.col-0271C7{
    color: #0271C7;
    cursor: pointer;
}
.col-0271C7:hover{
    color:#3098F2;
}
.experts-li3-div{
    display: inline-block;
    padding: 20px 0;
}
.acc_top_li .experts-li3-div{
    padding: 10px 0;
}
.experts-li2-p,
.experts-li3-p{
    font-size: 13px;
    color: #666666;
    letter-spacing: 0px;
}
.experts-li3-p{
    /*margin-bottom: 0;*/
    text-align: center;
}
.fl-rg{
    float: right;
}
.col-0271C7.fl-rg{
    display: inline-block;
    width: 187px;
    padding-right: 110px;
}
.experts-li3-p span{
    font-size: 18px;
    color: #333333;
    letter-spacing: 0px;
}
.acc-li-sapn{
    font-size: 13px;
    color: #333333;
    letter-spacing: 0px;
    border-radius: 2px;
    padding: 1px 5px;
    display: inline-block;
    width: 62px;
    text-align: center;
}
.experts-li3-span{
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0px;
    border-radius: 2px;
    padding: 1px 5px;
    display: inline-block;
    width: 44px;
    text-align: center;
    margin: 0 20px;
}
.acc_top_li .acc-li-sapn{
    margin: 0 3px;
}
.acc_top_li .experts-li3-span {
    margin: 0 17px;
}
.experts-li3-span.FailNotice{
    background: #EB5A3C;
}
.experts-li3-span.PassNotice{
    background: #00C185;
}
.experts-li3-span.BlockNotice{
    background: #FFC500;
}
.experts-li3-span.NANotice{
    background: #7261BF;
}
.experts-li2{
    background: url("../images/notice-window.png") no-repeat;
    padding: 0 20px 0 23px;
    position: absolute;
    top: 46px;
    width: 241px;
    right: 31px;
}
.window-notice{
    position: relative;
    top: 20px;
    padding-bottom: 50px;
}
.experts-wid-p{
    font-size: 13px;
    color: #666666;
    letter-spacing: 0px;
}
.experts-wid-time{
    color: #EB5A3C;
}
.experts-wid-p.wid-border{
    border-bottom: 1px solid #ccc;
    line-height: 30px;
    padding-bottom: 5px;
}
.testin-content-box.experts-tab{
    margin-top: 20px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.04);
    border-radius: 2px;

}
.nav.nav-tabs.testin-nav-tabs.experts-tab-ul{
    margin: 0;
    border: 1px solid #EBEBEB;

}
.experts-tab-li{
    font-size: 13px;
    color: #333333;
    letter-spacing: 0px;
}
.testin-nav-tabs>li>a {
    padding: 15px 30px;
}
.experts-tab1-top{
    background: #FAFAFA;
    border-top: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
}
.tab-content.experts-audit-content{
    margin-right: 0;
    margin-left: 0;
}
.experts-tab1-top{
    padding: 4px 20px 4px 30px;
    line-height: 24px;

}
.tab1-status,
.tab1-status-label,
.tab1-status-data{
    font-size: 14px;
    color: #333333;
    letter-spacing: 0px;
}
.tab1-status-label{
    font-size: 13px;
    font-weight: 200;
    margin-right: 34px;
}
input.tab1-status-input{
    margin: 0 5px;
}
.tab1-status-data{
    font-size: 12px;
    margin-left: 50px;
    vertical-align: top;
    position: relative;
    top: 1px;
}
.tab1-status-data *{
    vertical-align: top;
}
.tab1-status-search{
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    border-radius: 2px;
    font-size: 12px;
    color: #999999;
    letter-spacing: 0px;
    font-weight: 200;
    width: 230px;
    height: 28px;
    padding: 0 20px 0 10px;
    position: relative;
}
.tab1-label-search{
    position: relative;
    float: right;
    top: -5px;
}
.tab1-label-search:after{
    position: absolute;
    content: url("../images/search.png");
    right: 7px;
    top: 6px;
    cursor: pointer;
}
/*experts-auditBug页面样式*/
.module_list_wrapper .sub-module-container .module-item .adjust-layout .title input.experts-col-input{
    /*display: inline-block;*/
    width: 20px;
    position: relative;
    top: 11px;
}
.module_list_wrapper .sub-module-container .module-item .adjust-layout .title input.experts-col-input:focus{
    border-color: transparent;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}










