body {
    font-size: 13px;
    line-height: 1.42857143;
    font-weight: 300;
    font-family: ""PingFang SC",Proxima Nova","Helvetica Neue","Helvetica","Hiragino Sans GB","STHeitiSC Light","Microsoft YaHei UI Light","Microsoft YaHei","微软雅黑",Arial,sans-serif; -ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;
}
.p-30{
    padding: 30px;
}
.m-0{
    margin: 0;
}
.mb-20{
    margin-bottom: 20px;
}
.mt-15{
    margin-top: 15px;
}
.mt-30{
    margin-top: 30px;
}
.tac{
    text-align: center;
}
.module_list_wrapper .module-item{
    border-top: 1px solid #f0f0f0;
    padding: 12px 20px 11px 10px;
}
.module_list_wrapper .version-area .module-item:hover,.module_list_wrapper .module-item:focus{
    background: #F8FCFF;
}
.module_list_wrapper .version-area .module-item.third-open:hover, .module_list_wrapper .module-item.third-open:focus{
    background: #fafafa;
}
.module_list_wrapper .opening .module-item.main{
    /*background-color: #FCFCFC;*/
}
.module_list_wrapper .module-item.main{
    cursor: pointer;
    font-size: 14px;
}
.module_list_wrapper .module-item.main.editing{
    background-color: #FFFFFF;
}
.module_list_wrapper .opening .module-item.editing{
    background-color: #FCFCFC;
}
.module_list_wrapper .opening .module-item.editing .title input{
    background-color: #FFFFFF;
}
.module_list_wrapper .module-item.main .adjust-layout{
    padding-right: 0;
}
.module_list_wrapper .module-item.main .title {
    padding-left: 40px;
}
.module_list_wrapper .module-item.main .arrow-icon {
    height: 36px;
    line-height: 36px;
    width: 20px;
    text-align: center;
    position: absolute;
    left: 5px;
    top: -1px;
    cursor: pointer;
    padding: 0;
    display: none;
}
.module_list_wrapper .opening .module-item.main .arrow-icon{
    transform: rotate(90deg);
}
.module_list_wrapper .module-item.main .arrow-icon .iconfont{
    font-size: 13px;
    position: relative;
    top: 0px;
}
.break-word {
    word-break: break-all;
}
.module_list_wrapper .module-item .action {
    text-align: right;
    padding-right: 0;
    padding-top: 9px;
}
.module_list_wrapper .module-item .action .action-area a {
    margin-left: 15px;
    cursor: pointer;
    vertical-align: top;
}
.module_list_wrapper .module-item .action .action-area button{
    margin-top: -5px;
    margin-left: 15px;
    width: 84px;
    height: 28px;
}
.module_list_wrapper .module-item .third-item .action .action-area button{
    width: 74px;
}
.module_list_wrapper .module-item .action .action-area a img{
    display: inline-block;
    vertical-align: top;
    margin-top: 3px;
    margin-right: 5px;
}
.module_list_wrapper .module-item .action .action-area .checked-name{
    margin-right: 15px;
    display: inline-block;
    width: 105px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.module_list_wrapper .module-item .action .action-area .edit-module-name{
    display: none;
}
.module_list_wrapper .module-item .action .action-area .remove-module{
    display: none;
}
.module_list_wrapper .module-item .action .action-area .save-text{
    display: none;
}
.module_list_wrapper .module-item .action .action-area .cancel-check{
    display: none;
}
.module_list_wrapper .module-item .action .action-area.test-checked .cancel-check{
    display: inline-block;
}
.module_list_wrapper .module-item .action .action-area.test-checked .check-people{
    display: none;
}
.module_list_wrapper .sub-module-container {
    background: #fcfcfc;
    display: none;
}
.module_list_wrapper .opening .sub-module-container{
    display: block;
}
.module_list_wrapper .sub-module-container .module-item {
    /*padding: 0 20px 0 60px;*/
    padding: 0;
}
.module_list_wrapper .sub-module-container .module-item:first-child .adjust-layout {
    border: 0;
}
.module_list_wrapper .sub-module-container .module-item .adjust-layout {
    padding: 12px 20px 12px 60px;
}
.module_list_wrapper .sub-module-container .module-item .adjust-layout .title {
    padding-left: 23px;
}
.module_list_wrapper .sub-module-container .module-item .adjust-layout .action {
    padding-top: 9px;
}
.module_list_wrapper .sub-module-container .module-item .adjust-layout .title input,
.module_list_wrapper .main.module-item .adjust-layout .title input{
    border: none;
    padding: 0px;
    width: 678px;
    height: 36px;
    border-radius: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 3px;
}
.module_list_wrapper .title input:focus{
    border-color: #66afe9!important;
    outline:0;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
.module_list_wrapper .sub-module-container .module-item.editing .adjust-layout .title input,
.module_list_wrapper .main.module-item.editing .adjust-layout .title input{
    border: 1px solid #cccccc;
    padding: 9px 10px;
}
.module_list_wrapper .module-item.editing .adjust-layout .action .save-text{
    display: inline-block;
}
.module_list_wrapper .module-item.editing .adjust-layout .action .edit-module-name{
    opacity: 0;z-index: -1;position: relative;
}
.module_list_wrapper .module-item.editing .adjust-layout .action .remove-module{
    /*opacity: 0;z-index: -1;position: relative;*/
}
.cygl .btn-sm{
    padding: 4px 11px;
    margin: 11px 20px 0 0;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.05);
    border-radius: 2px;
    color: #666;
}
.cygl .btn-sm:hover,.cygl .btn-sm:visited,.cygl .btn-sm:active,.cygl .btn-sm:focus{background: #fff;color: #666;}
.cygl .btn-sm:hover,.module-item .action .btn-sm:hover{
    border-color: #b3b3b3;
    color: #333;
}
.cygl .btn-sm:focus,.module-item .action .btn-sm:focus{
    border-color: #b3b3b3;
    /*color: #666;*/
    background-color: #FFFFFF;
    outline: none;
}
.testin-nav-tabs .btn-sm{
    padding: 4px 12px;
    margin: 11px 20px 0 0;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.05);
    border-radius: 2px;
    color: #666;
}
.testin-nav-tabs .btn-sm:hover,.testin-nav-tabs .btn-sm:visited,.testin-nav-tabs .btn-sm:active,.testin-nav-tabs .btn-sm:focus{background: #fff;color: #666;}
.testin-nav-tabs .btn-sm:hover{
    border-color: #b3b3b3;
    color: #333;
}
.testin-nav-tabs .btn-sm:focus{
    border-color: #b3b3b3;
    /*color: #666;*/
    background-color: #FFFFFF;
    outline: none;
}
.module-item .action .btn-sm:active{
    box-shadow: none;
}
.btn-sm.btn-blue{
    background: #1081DE;
    color: #ffffff;
}
.module_list_wrapper .module-item .action .action-area .btn-sm.btn-blue{
    width: 74px;
}
.module-item .action .btn-sm.btn-blue:hover,.module-item .action .btn-sm.btn-blue:focus {
    background-color: #3098F2;
    color: #fff;
    text-decoration: none;
    border-color: transparent;
}
.modal-body{
    padding-top: 50px!important;
    padding-bottom: 50px!important;
}
.modal-body .content-form{
    display: inline-block;
    margin-bottom: 21px;
}
.modal-body .content-form:last-child{
    margin-bottom: 0px;
}
.modal-body .content-form .form-label{
    margin-right: 28px;
    float: left;
    padding-top: 9px;
    text-align: right;
}
.vm_alert .modal-body .content-form .form-label{
    width: 44px;
}
.modal-body .content-form .adding-name{
    float: left;
    width: 340px;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    padding: 9px 10px;
}
.modal-body .content-form .adding-name[disabled]{
    background-color: #eeeeee;
    color: #999999;
}
.new-item{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #1081DE;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: -10px;
}
.bottom-btn-group .blue-link.pull-right{
    position: absolute;
    right: 0;
    top: 29px;
}
.item-name{
    display: inline-block;
    height: 36px;
    line-height: 36px;
}
.heading-area .module-item .title span{
    display: inline-block;
    height: 36px;
    line-height: 36px;
    vertical-align: top;
}
.heading-area-title{
    margin-left: 4px;
}
.heading-area .module-item .title .testin-select{
    margin-left: 18px;
    width: 180px;
    display: inline-block;
}
.heading-area .module-item .testin-select-set{
    height: 36px;
}
.module_list_wrapper .heading-area .module-item{
    font-size: 14px;
}
.module_list_wrapper .heading-area .module-item:first-child{
    border-top: 0;
    padding: 10px 20px 8px 10px;
}
.module_list_wrapper .heading-area .module-item:last-child{
    background: #F2F2F2;
}
.mod-third-content{
    padding: 20px 60px;
    border-top: 1px solid #f0f0f0;
    display: none;
}
.third-open .mod-third-content{
    display: block;
}
.mod-third-content .mod-third-box{
    border: 1px solid #cccccc;
    background-color: #ffffff;
}
.mod-third-content .mod-third-box .third-item{
    /*height: 48px;*/
    line-height: 48px;
    border-bottom: 1px solid #ebebeb;
    padding: 0;
}
.third-item .new-item{
    width: 12px;
    height: 12px;
    top: 18px;
}
.color-pass{
    background: #00C185;
}
.color-fail{
    background: #EB5A3C;
}
.color-block{
    background: #FFC500;
}
.color-na{
    background: #7261BF;
}
.color-or{
    background: #ff7733;
}
.checkbox-inline .input-right-span.color-pass{
    background: transparent;
    color: #00c185;
}
.checkbox-inline .input-right-span.color-fail{
    background: transparent;
    color: #EB5A3C;
}
.checkbox-inline .input-right-span.color-block{
    background: transparent;
    color: #FFC500;
}
.checkbox-inline .input-right-span.color-na{
    background: transparent;
    color: #7261BF;
}
.importance-span.color-pass{
    background: transparent;
    color: #00c185;
}
.importance-span.color-fail{
    background: transparent;
    color: #EB5A3C;
}
.importance-span.color-block{
    background: transparent;
    color: #FFC500;
}
.importance-span.color-na{
    background: transparent;
    color: #7261BF;
}
/********/
.expert-control button:hover:active:focus{
    outline: none;
}
.expert-control button:hover:active{
    color: #ffffff;
    box-shadow: none;
}
.expert-control button:hover{
    color: #ffffff;
    border: none;
}
.expert-control button.active:focus{
    color: #fff;
    outline: none;
}
.expert-control button.active:hover{
    color: #ffffff;
}
.expert-control button.active{
    color: #ffffff;
    box-shadow: none;
    border: none;
}
.expert-control button.active-color-1:hover{
    background: #EB5A3C;
}
.expert-control button.active-color-2:hover{
    background: #ff7733;
}
.expert-control button.active-color-3:hover{
    background: #7261BF;
}
.expert-control button.active-color-4:hover{
    background: #1081de;
}
.expert-control button.active-color-5:hover{
    background: #00c185;
}
.expert-control button.active-color-1.active{
    background: #EB5A3C;
}
.expert-control button.active-color-2.active{
    background: #ff7733;
}
.expert-control button.active-color-3.active{
    background: #7261BF;
}
.expert-control button.active-color-4.active{
    background: #1081de;
}
.expert-control button.active-color-5.active{
    background: #00c185;
}
/********/
.checking-area{
    display: inline-block;
}
.state-tip.color-block{
    text-indent: -3px;
}
.third-item .action .state-tip{
    border-radius: 2px;
    display: inline-block;
    color: #ffffff;
    line-height: normal;
    padding: 0px 6px;
    font-size: 14px;
    margin-left: 15px;
    width: 42px;
    height: 18px;
    text-align: center;
    line-height: 18px;
}
.bug-list .third-item .action .state-tip{
    width: 64px;
    height: 20px;
    line-height: 20px;
    padding: 0;
    font-size: 12px;
}
.third-item .action .disable{
    color: #A8A8A8;
}
.module_list_wrapper .module-item .third-item .action .action-area button{
    margin-top: 10px;
}
.module_list_wrapper .module-item .third-item .action .action-area a .iconfont{
    padding-right: 5px;
}
.module_list_wrapper .module-item .third-item .action{
    padding-top: 0;
}
.module_list_wrapper .sub-module-container .module-item .third-item .adjust-layout{
    padding: 0 30px;
}
.module_list_wrapper .sub-module-container .module-item .third-item .adjust-layout .action{
    padding: 0;
}
.third-item .details-content{
    border-top: 1px solid #ebebeb;
    padding-bottom: 20px;
    line-height: initial;
    display: none;
}
.third-item.details-open .details-content{
    display: block;
}
.module_list_wrapper .sub-module-container .module-item .third-item .details-content .per-step-ul{
    margin-bottom: 0px;
    border-bottom: 0;
}
.third-item .per-fail-li-p.bef{
    margin-bottom: 0;
}
.third-item.editing .per-fail-li-p.bef{
    margin-bottom: 6px;
}
.third-item .title .per-fail-li-p{
    line-height: 30px;
    display: inline-block;
    padding-left: 0;
}
.third-item.editing .title .per-fail-li-p{
    padding-left: 20px;

}
.third-item .per-fail-li-p, .third-item textarea.per-fail-li-text{
    line-height: 18px;
}
.third-item.editing .per-fail-li-p.bef.title3{
    margin-top: 18px;
    margin-bottom: 12px;
}
.third-item.editing textarea.per-fail-li-text{
    padding: 15px 20px;
    min-height: 126px;
}
.third-item textarea.per-fail-li-text{
    height: auto;
}
.third-item .per-step-ul{
    padding-bottom: 0px;
    min-height: 137px;
    overflow: hidden;
}
.third-item.editing .per-step-ul{
    min-height: 200px;
}
.third-item .details-content .per-fail-li-p.per-edit-p{
    /*white-space: pre-line;*/
}
.third-item.editing .details-content .per-fail-li-p.per-edit-p{
    padding: 8px 15px;
}
.details-content .sup-info{
    width: 810px;
    background: #FAFAFA;
    border: 1px solid #EBEBEB;
    border-radius: 2px;
    margin: 0 auto;
    padding: 15px 20px;
}
.info-title-span img{
    position: relative;
    top: -1px;
    margin-right: 10px;
}
.details-content .sup-info .sup-info-content{
    padding: 6px 25px 0;
    line-height: 22px;
    letter-spacing: 0px;
    border: 1px solid transparent;
}
.editing .details-content .sup-info .sup-info-content.info-text{
    margin-top: 18px;
    padding: 15px 25px 15px;
}
.editing .details-content .sup-info{
    padding: 15px 20px 20px;
}
.details-content .per-fail-li-p{
    white-space: pre-line;
}
.details-content .per-fail-li-p a{
    cursor: pointer;
}
/*BUG列表样式*/
.module_list_wrapper .module-item .third-item .action .action-area .edit-save{
    display: none;
}
.module_list_wrapper .module-item .third-item.editing .action .action-area .edit-item{
    display: none;
}
.module_list_wrapper .module-item .third-item.editing .action .action-area .edit-save{
    display: inline-block;
}
.bug-list .third-item .details-content .details-left{
    width: 415px;
    float: left;
}
.bug-list .third-item .details-content .details-right{
    width: 358px;
    float: right;
}
.bug-list .third-item .details-content{
    overflow: hidden;
    padding: 20px 20px 30px 60px;
}
.bug-list .third-item .details-content .per-fail-li-p.bef.title7{
    width: 271px;
}
.bug-list .third-item .details-content .per-fail-li-p.bef.title8{
    width: 141px;
}
.bug-list .third-item textarea.per-fail-li-text{
    height: 66px;
    overflow: hidden;
    width: 100%;
}
.details-right .pic-area{
    overflow: hidden;
    padding: 0 2px;
}
.details-right .pic-area .pic-item{
    float: left;
    width: 167px;
    height: 294px;
    margin-left: 20px;
    cursor: pointer;
    border: 1px solid #d2d6da;
    border-radius: 2px;
    overflow: hidden;
}
.details-right .pic-area .pic-item:first-child{
    margin-left: 0;
}
