.claim_content{
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.04);
    border-radius: 2px;
    margin-bottom:30px;
}
.claim_top_ul{
    border-bottom: 1px solid #EBEBEB;
}
.claim_top_ul.add-show{
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.04);
    border-radius: 2px;
    position: relative;
}
.claim_top_li{
    display: inline-block;
}

.claim_top_li.first{
    width: 36%;
}
.claim_top_li.second{
    width: 43%;
}
.claim_top_li.last{
    position: relative;
    top: -8px;
}
.claim_topApp{
    margin: 20px;
    float: left;
}
.App_name{
    font-size: 16px;
    color: #333333;
    letter-spacing: 0px;
    margin-top: 36px;
}
.App_desgin{
    background: #FFFFFF;
    border: 1px solid #1081DE;
    border-radius: 2px;
    font-size: 12px;
    color: #1081DE;
    letter-spacing: 0;
    line-height: 22px;
    padding: 0 15px;
    outline: none;
}
.task_message{
    position: relative;
    top:20px;
    font-size: 13px;
    color: #666666;
    letter-spacing: 0;
}
.task_message span{
    color: #333333;
}
.remaining_time span{
    color: #EB5A3C;
}
span.task_mes_a{
    font-size: 13px;
    color: #1081DE;
    letter-spacing: 0px;
    margin-right: 25px;
    cursor: pointer;
}
span.task_mes_a:hover{
    color: #3098F2;
}
.remaining_time{
    font-size: 13px;
    color: #1081DE;
    letter-spacing: 0px;
    cursor: pointer;
}
.user-window{
    position: absolute;
    width: 172px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-shadow: 0px -4px 6px 0px rgba(0,0,0,0.12);
    padding: 15px 16px 0;
    top:85px;
    right: 120px;
    z-index: 8;
}
.user-window .task_message{
    top:0;
}
.user-window-top{
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 6px;
}
/*任务分配步骤样式*/
.release-step{
    display: inline-block;
    position: relative;
    left: 50%;
    margin-left: -250px;
    margin-top: 20px;
    margin-bottom: 24px;
}
.release-step li{
    float: left;
}
.complete{
    color: #1081DE;
}
 ul .complete.not-complete {
    color: #999;
}
ul.release-step  li .span-name {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
    background: 0 0;
    font-size: 14px;
    color: #FFF;
    margin-right: 8px;
    background: #1081DE;
    border: 0;
}
ul .complete.not-complete {
    color: #999;
}
ul.release-step li .span_lineccc {
    display: inline-block;
    height: 1px;
    width: 74px;
    background: #ccc;
    margin: 7px 20px;
    vertical-align: text-top;
}
ul.release-step li .span_line {
    display: inline-block;
    height: 1px;
    width: 74px;
    background: #1081DE;
    margin: 7px 20px;
    vertical-align: text-top;
}
ul.release-step li .span2 {
    line-height: 24px;
    background: 0 0;
    background-color: #ccc;
    color: #FFF;
}
ul.release-step li .span-name.finish-icon {
    background-image: url(../images/finish-icon.png);
    background-color: transparent;
    border: 0;
    vertical-align: bottom;
}
.info_list_wrapper {
    padding: 60px 15px;
    border-top: 1px solid #f0f0f0;
}
@media (min-width: 768px){
    .form-horizontal-n .control-label {
        padding-top: 7px;
        margin-bottom: 0;
        text-align: right;
    }
}
.form-horizontal-n .form-group{
    overflow: hidden;
}
.release_task .form-horizontal-n .control-label{
    width: 126px;
    font-weight: normal;
}
.release_task .form-horizontal-n .form-control{
    width: 735px;
}
.input-sm {
    height: 36px;
    font-size: 14px;
}
.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #EB5A3C;
    font-size: 12px;
}
.blue-link{
    margin-top: 5px;
    margin-bottom: 10px;
}
.blue-link a{
     font-size: 13px;
     cursor: pointer;
     color: #1081DE;
}
.blue-link a:hover{
    color: #3098F2;
}
.blue-link a .iconfont{
    margin-right: 5px;
    position: relative;
    top: 2px;
    font-size: 18px;
}
.upload-btn{
    width: 122px;
    height: 40px;
    border: 1px dashed #cccccc;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
}
.upload-btn img,.upload-btn span{
    display: inline-block;
    vertical-align: middle;
}
.upload-btn span{
    font-size: 13px;
}
.upload-info{
    width: 737px;
    height: 47px;
    background: #FAFAFA;
    border-radius: 2px;
    margin-top: 10px;
}
.upload-info-left{
    margin: 14px 0 13px 21px;
    display: block;
    float: left;
}
.upload-span{
    font-size: 13px;
    margin-left: 6px;
}
.upload-info-close{
    display: block;
    float: right;
    margin: 14px 29px 13px 0;
    cursor: pointer;
}
.input-right-span{
    font-size: 13px;
}
.send-check .input-checkbox-show{
    position: relative;
    top: 2px;
}
.send-check{
    margin-top: 27px;
    margin-left: 34px;
}
/*release-p3的样式*/
.release-p3 .testin-nav-tabs{
    margin: 0;
    font-size: 14px;
}
.release-p3 .testin-nav-tabs>li>a{
    padding: 22px 32px 11px;
    color: #999999;
}
.release-p3 .testin-nav-tabs>li.active>a, .release-p3 .testin-nav-tabs>li.active>a:hover, .release-p3 .testin-nav-tabs>li.active>a:focus{
    border-bottom: 2px solid #1081de;
    color: #1081de;
}
@media (min-width: 767px){
    .release-p3 .tab-content {
        margin: 0px;
    }
}
.release-p3 .tab-content>.tab-pane{
    padding: 2px 21px 21px;
}
.release-p3 .module_list_wrapper .sub-module-container {
    background: #fafafa;
}
.release-p3 .module_list_wrapper{
    border-bottom: 1px solid #f0f0f0;
}
.zc_test-box.choice-person{
    border-color: #ffffff;
}
.zc_test-box.choice-person .cygl{
    height: 60px;
    line-height: 60px;
    padding-left: 32px;
}
.zc_test-box.choice-person .cygl .close-cy{
    float: right;
    padding-right: 32px;
}
.zc_test-box.choice-person .cygl .close-cy img{
    cursor: pointer;
    padding: 10px;
}
.zc_test-box.choice-person .info_list_wrapper{
    overflow: hidden;
    padding: 7px 20px 22px;
}
.zc_test-box.choice-person .cp-items{
    float: left;
    width: 900px;
}
.zc_test-box.choice-person .cp-items ul{
    overflow: hidden;
    margin-bottom: 0;
}
.zc_test-box.choice-person .cp-items ul li{
    float: left;
    width: 110px;
    text-align: center;
    padding: 10px 12px;
    font-size: 11px;
    position: relative;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.zc_test-box.choice-person .cp-items ul li img{
    margin-bottom: 10px;
    cursor: pointer;
}
.zc_test-box.choice-person .cp-items ul li.active .current-selected{
    display: inline-block;
}
.zc_test-box.choice-person .cp-items ul li .current-selected{
    position: absolute;
    left: 50%;
    margin-left: -32px;
    display: none;
}
/*.zc_test-box.choice-person .cp-items ul li .tester-head:hover{*/
    /*box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.21);*/
    /*border-radius: 50%;*/
/*}*/
.zc_test-box.choice-person .cp-items ul li span{
    width: 100%;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
}
.zc_test-box.choice-person .cp-items ul li span.tester-qq{
    text-align: center;
    margin-top: 5px;
    white-space: nowrap;
    letter-spacing: -1px;
}
.zc_test-box.choice-person .cp-control{
    float: left;
    width: 127px;
    padding-top: 26px;
    margin-left: 15px;
}
.cp-arrow{
    display: block;
    width: 28px;
    height: 28px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.05);
    border-radius: 2px;
    cursor: pointer;
}
.cp-arrow:hover{
    border: 1px solid #1081de;
}
.cp-arrow#cp-up{
    background-image: url("../images/arrow-up.png");
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 18px;
}
.cp-arrow#cp-down{
    background-image: url("../images/arrow-down.png");
    background-repeat: no-repeat;
    background-position: center center;
}
.cp-arrow:hover#cp-up{
    background-image: url("../images/arrow-up-active.png");
}
.cp-arrow:hover#cp-down{
    background-image: url("../images/arrow-down-active.png");
}
.confirm-cp.blue-btn{
    margin-top: 23px;
    padding: 0 14px;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    cursor: pointer;
}
/*p5样式*/
.release-p3.add-p5 .testin-nav-tabs{
    font-size: 13px;
}
.add-p5 .module_list_wrapper .module-item.main{
    font-size: 13px;
}
.enterprise-tip .new-problem{
    width: 836px;
}
.enterprise-tip .new-problem .modal-body{
    padding: 30px 22px 30px 20px!important;
}
.enterprise-tip .new-problem .new-problem-content{
    overflow: hidden;
    text-align: left;
}
.enterprise-tip .new-problem .new-problem-content .new-problem-left{
    width: 210px;
    height: 522px;
    background: #FAFAFA;
    border: 1px solid #EBEBEB;
    border-radius: 2px;
    float: left;
}
.enterprise-tip .new-problem .new-problem-content .new-problem-right{
    width: 550px;
    margin-left: 20px;
    float: left;
}
.new-problem-left .testin-select{
    width: 170px;
}
.new-problem-left .choice-sele1{
    width: 170px;
}
.new-problem-right .mod-right-input,.new-problem-right .mod-rig-text{
    width: 100%;
}
.new-problem-right .mod-rig-title{
    margin-top: 29px;
    margin-bottom: 9px;
}
.new-problem-right .mod-rig-title:first-child{
    margin-top: -2px;
}
.enterprise-tip input{
    width: 678px;
    height: 36px;
    border-radius: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid #cccccc;
    padding: 9px 10px;
}
.enterprise-tip input:focus{
    border-color: #66afe9!important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
/*p12头部样式*/
.blue-btn.bottom-btn.usecase-save{
    font-size: 12px;
    padding: 0 23px;
    line-height: 28px;
    height: 28px;
    position: relative;
    margin-left: 20px;
    top: -36px;
}
.claim_topApp.usecase-APP{
    margin:15px 30px 15px 20px;

}
/*验收用例页面样式*/
.blue-btn.bottom-btn.acc-residue{
    font-size: 12px;
    padding: 0 13px;
    line-height: 28px;
    height: 28px;
    position: relative;
    top: -24px;
}




