.info_list_wrapper {
    padding: 60px 15px;
    border-top: 1px solid #f0f0f0;
}
@media (min-width: 768px){
    .form-horizontal-n .control-label {
        padding-top: 7px;
        margin-bottom: 0;
        text-align: right;
    }
}
.form-horizontal-n .form-group{
    overflow: hidden;
}
.release_task .form-horizontal-n .control-label{
    width: 126px;
}
.release_task .form-horizontal-n .form-control{
    width: 725px;
}
.input-sm {
    height: 36px;
    font-size: 14px;
}
.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #EB5A3C;
    font-size: 12px;
}