.claim_content{
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.04);
    border-radius: 2px;
    margin-bottom:30px;
}
.claim_top_ul{
    border-bottom: 1px solid #EBEBEB;
}
.claim_top_ul.add-show{
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.04);
    border-radius: 2px;
    position: relative;
}
.claim_top_li{
    display: inline-block;
}
.claim_top_li.first{
    width: 35%;
}
.claim_top_li.second{
    width: 55%;
}
.claim_topApp{
    margin: 20px;
    float: left;
}
.App_name{
    font-size: 16px;
    color: #333333;
    letter-spacing: 0px;
    margin-top: 36px;
}
.App_desgin{
    background: #FFFFFF;
    border: 1px solid #1081DE;
    border-radius: 2px;
    font-size: 12px;
    color: #1081DE;
    letter-spacing: 0;
    line-height: 22px;
    padding: 0 15px;
    outline: none;
}
.task_message{
    position: relative;
    top:20px;
    font-size: 13px;
    color: #666666;
    letter-spacing: 0;
}
.task_message span{
    color: #333333;
}
.remaining_time span{
    color: #EB5A3C;
}
span.task_mes_a{
    font-size: 13px;
    color: #1081DE;
    letter-spacing: 0px;
    margin-right: 25px;
    cursor: pointer;
}
.remaining_time{
    font-size: 13px;
    color: #1081DE;
    letter-spacing: 0px;
    cursor: pointer;
}
.user-window{
    position: absolute;
    width: 172px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-shadow: 0px -4px 6px 0px rgba(0,0,0,0.12);
    padding: 15px 16px 0;
    top:85px;
    right: 0;
}
.user-window .task_message{
    top:0;
}
.user-window-top{
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 6px;
}
/*任务分配步骤样式*/
.release-step{
    display: inline-block;
    position: relative;
    left: 50%;
    margin-left: -250px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.release-step li{
    float: left;
}
.complete{
    color: #1081DE;
}
 ul .complete.not-complete {
    color: #999;
}
ul.release-step  li .span-name {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
    background: 0 0;
    font-size: 14px;
    color: #FFF;
    margin-right: 8px;
    background: #1081DE;
    border: 0;
}
ul .complete.not-complete {
    color: #999;
}
ul.release-step li .span_lineccc {
    display: inline-block;
    height: 1px;
    width: 74px;
    background: #ccc;
    margin: 7px 20px;
    vertical-align: text-top;
}
ul.release-step li .span_line {
    display: inline-block;
    height: 1px;
    width: 74px;
    background: #1081DE;
    margin: 7px 20px;
    vertical-align: text-top;
}
ul.release-step li .span2 {
    line-height: 24px;
    background: 0 0;
    background-color: #ccc;
    color: #FFF;
}
ul.release-step li .span-name.finish-icon {
    background-image: url(../images/finish-icon.png);
    background-color: transparent;
    border: 0;
    vertical-align: bottom;
}
.info_list_wrapper {
    padding: 60px 15px;
    border-top: 1px solid #f0f0f0;
}
@media (min-width: 768px){
    .form-horizontal-n .control-label {
        padding-top: 7px;
        margin-bottom: 0;
        text-align: right;
    }
}
.form-horizontal-n .form-group{
    overflow: hidden;
}
.release_task .form-horizontal-n .control-label{
    width: 126px;
}
.release_task .form-horizontal-n .form-control{
    width: 735px;
}
.input-sm {
    height: 36px;
    font-size: 14px;
}
.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #EB5A3C;
    font-size: 12px;
}
.blue-link{
    margin-top: 5px;
    margin-bottom: 10px;
}
.blue-link a{
     font-size: 13px;
     cursor: pointer;
     color: #1081DE;
}
.blue-link a:hover{
    color: #3098F2;
}
.blue-link a .iconfont{
    margin-right: 5px;
    position: relative;
    top: 2px;
    font-size: 18px;
}
.upload-btn{
    width: 122px;
    height: 40px;
    border: 1px dashed #cccccc;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
}
.upload-btn img,.upload-btn span{
    display: inline-block;
    vertical-align: middle;
}
.upload-btn span{
    font-size: 13px;
}
.upload-info{
    width: 737px;
    height: 47px;
    background: #FAFAFA;
    border-radius: 2px;
    margin-top: 10px;
}
.upload-info-left{
    margin: 14px 0 13px 21px;
    display: block;
    float: left;
}
.upload-span{
    font-size: 13px;
    margin-left: 6px;
}
.upload-info-close{
    display: block;
    float: right;
    margin: 14px 29px 13px 0;
    cursor: pointer;
}
.input-right-span{
    font-size: 13px;
}
.input-checkbox-show{
    position: relative;
    top: 2px;
}
.send-check{
    margin-top: 27px;
    margin-left: 34px;
}
/*release-p3的样式*/
.release-p3 .testin-content-box{
    background-color: #fff;
    margin-top: 20px;
}
.release-p3 .testin-content-box li>a{
    line-height: 38px;
    width: 120px;
    text-align: center;
}
.nav.nav-tabs.testin-nav-tabs{
    margin: 0;
    height: 60px;
}


