.claim_content{
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.04);
    border-radius: 2px;
    margin-bottom:30px;
}
.claim_top_ul{
    border-bottom: 1px solid #EBEBEB;
}
.excute-topul.claim_top_ul{
    padding-bottom:  20px;
}
.claim_top_ul.add-show{
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.04);
    border-radius: 2px;
    position: relative;
}
.claim_top_li{
    display: inline-block;
}

.claim_top_li.first{
    width: 38%;
}
.claim_top_li.second{
    width: 49%;
}
.claim_top_li.last{
    position: relative;
    float: right;
    top: 53px;
    right: 45px;
}
.claim_top_ul.add-show .claim_topApp{
    margin: 20px 27px 20px 24px;
}
.claim_topApp{
    margin: 20px;
    float: left;
}
.claim_topApp.noMar-left{
    margin-left: 0 !important;
}
.claim_topApp.add-mar-top-lef{
    margin-top: 30px;
    margin-left: 30px;
}
.App_name{
    font-size: 16px;
    color: #333333;
    letter-spacing: 0px;
    margin-top: 36px;
}
.App_desgin{
    background: #FFFFFF;
    border: 1px solid #1081DE;
    border-radius: 2px;
    font-size: 12px;
    color: #1081DE;
    letter-spacing: 0;
    line-height: 22px;
    padding: 0 15px;
    outline: none;
}
.more-up.App_name,
.more-up.App_desgin{
    position: relative;
    top:-12px;
}
.task_message{
    position: relative;
    top:20px;
    font-size: 13px;
    color: #666666;
    letter-spacing: 0;
}
.task_message span{
    color: #333333;
}
.remaining_time span{
    color: #EB5A3C;
}
span.task_mes_a{
    font-size: 13px;
    color: #1081DE;
    letter-spacing: 0px;
    margin-right: 25px;
    cursor: pointer;
}
span.task_mes_a:hover{
    color: #3098F2;
}
.remaining_time{
    font-size: 13px;
    color: #1081DE;
    letter-spacing: 0px;
    cursor: pointer;
}
.user-window{
    position: absolute;
    width: 172px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-shadow: 0px -4px 6px 0px rgba(0,0,0,0.12);
    padding: 15px 16px 0;
    top:85px;
    right: 120px;
    z-index: 8;
}
.user-window .task_message{
    top:0;
}
.user-window-top{
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 6px;
}
/*任务分配步骤样式*/
.release-step{
    display: inline-block;
    position: relative;
    left: 50%;
    margin-left: -250px;
    margin-top: 20px;
    margin-bottom: 24px;
}
.release-step li{
    float: left;
}
.complete{
    color: #1081DE;
}
 ul .complete.not-complete {
    color: #999;
}
ul.release-step  li .span-name {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
    background: 0 0;
    font-size: 14px;
    color: #FFF;
    margin-right: 8px;
    background: #1081DE;
    border: 0;
}
ul .complete.not-complete {
    color: #999;
}
ul.release-step li .span_lineccc {
    display: inline-block;
    height: 1px;
    width: 74px;
    background: #ccc;
    margin: 7px 20px;
    vertical-align: text-top;
}
ul.release-step li .span_line {
    display: inline-block;
    height: 1px;
    width: 74px;
    background: #1081DE;
    margin: 7px 20px;
    vertical-align: text-top;
}
ul.release-step li .span2 {
    line-height: 24px;
    background: 0 0;
    background-color: #ccc;
    color: #FFF;
}
ul.release-step li .span-name.finish-icon {
    background-image: url(../images/finish-icon.png);
    background-color: transparent;
    border: 0;
    vertical-align: bottom;
}
.info_list_wrapper {
    padding: 60px 15px;
    border-top: 1px solid #f0f0f0;
}
@media (min-width: 768px){
    .form-horizontal-n .control-label {
        padding-top: 7px;
        margin-bottom: 0;
        text-align: right;
    }
}
.form-horizontal-n .form-group{
    overflow: hidden;
}
.has-error .form-control{
    border: 1px solid #EB5A3C;
}
.has-error .help-block{
    color: #EB5A3C;
}
.release_task .form-horizontal-n .control-label{
    width: 126px;
    font-weight: normal;
}
.release_task .form-horizontal-n .form-control{
    width: 735px;
}
.input-sm {
    height: 36px;
    font-size: 14px;
}
.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #EB5A3C;
    font-size: 12px;
}
.blue-link{
    margin-top: 5px;
    margin-bottom: 10px;
}
.blue-link a{
     font-size: 13px;
     cursor: pointer;
     color: #1081DE;
}
.blue-link a:hover{
    color: #3098F2;
}
.blue-link a .iconfont{
    margin-right: 5px;
    position: relative;
    top: 2px;
    font-size: 18px;
}
.upload-btn{
    width: 122px;
    height: 40px;
    border: 1px dashed #cccccc;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
}
.upload-btn img,.upload-btn span{
    display: inline-block;
    vertical-align: middle;
}
.upload-btn span{
    font-size: 13px;
}
.upload-info{
    width: 737px;
    height: 47px;
    background: #FAFAFA;
    border-radius: 2px;
    margin-top: 10px;
}
.upload-info-left{
    margin: 14px 0 13px 21px;
    display: block;
    float: left;
}
.upload-span{
    font-size: 13px;
    margin-left: 6px;
}
.upload-info-close{
    display: block;
    float: right;
    margin: 14px 29px 13px 0;
    cursor: pointer;
}
.input-right-span{
    font-size: 13px;
}
.send-check .input-checkbox-show{
    position: relative;
    top: 2px;
}
.send-check{
    margin-top: 27px;
    margin-left: 34px;
}
/*release-p3的样式*/
.release-p3 .testin-nav-tabs{
    margin: 0;
    font-size: 14px;
}
.release-p3 .testin-nav-tabs>li>a{
    padding: 22px 32px 11px;
    color: #999999;
}
.release-p3 .testin-nav-tabs>li.active>a, .release-p3 .testin-nav-tabs>li.active>a:hover, .release-p3 .testin-nav-tabs>li.active>a:focus{
    border-bottom: 2px solid #1081de;
    color: #1081de;
}
@media (min-width: 767px){
    .release-p3 .tab-content {
        margin: 0px;
    }
}
.release-p3 .tab-content>.tab-pane{
    padding: 2px 21px 21px;
}
.release-p3 .module_list_wrapper .sub-module-container {
    background: #fafafa;
}
.release-p3 .module_list_wrapper{
    border-bottom: 1px solid #f0f0f0;
}
.zc_test-box.choice-person{
    border-color: #ffffff;
}
#choice.fixing{
    position: fixed;
    bottom: 0;
    width: 1085px;
}
.zc_test-box.choice-person .cygl{
    height: 60px;
    line-height: 60px;
    padding-left: 32px;
}
.zc_test-box.choice-person .cygl .close-cy{
    float: right;
    padding-right: 32px;
}
.zc_test-box.choice-person .cygl .close-cy img{
    cursor: pointer;
    padding: 10px;
}
.zc_test-box.choice-person .info_list_wrapper{
    overflow: hidden;
    padding: 7px 20px 22px;
}
.zc_test-box.choice-person .cp-items{
    float: left;
    width: 900px;
}
.zc_test-box.choice-person .cp-items ul{
    overflow: hidden;
    margin-bottom: 0;
}
.zc_test-box.choice-person .cp-items ul li{
    float: left;
    width: 110px;
    text-align: center;
    padding: 10px 12px;
    font-size: 11px;
    position: relative;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.zc_test-box.choice-person .cp-items ul li img{
    margin-bottom: 10px;
    cursor: pointer;
    width: 60px;
}
.zc_test-box.choice-person .cp-items ul li.active .current-selected{
    display: inline-block;
}
.zc_test-box.choice-person .cp-items ul li .current-selected{
    position: absolute;
    left: 50%;
    margin-left: -32px;
    display: none;
}
/*.zc_test-box.choice-person .cp-items ul li .tester-head:hover{*/
    /*box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.21);*/
    /*border-radius: 50%;*/
/*}*/
.zc_test-box.choice-person .cp-items ul li span{
    width: 100%;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
}
.zc_test-box.choice-person .cp-items ul li span.tester-qq{
    text-align: center;
    margin-top: 5px;
    white-space: nowrap;
    letter-spacing: -1px;
}
.zc_test-box.choice-person .cp-items ul li span.tester-cancel{
    text-align: center;
    margin-top: 5px;
    height: 17px;
}
.tester-cancel a{
    cursor: pointer;
}
.zc_test-box.choice-person .cp-control{
    float: left;
    width: 127px;
    padding-top: 26px;
    margin-left: 15px;
}
.cp-arrow{
    display: block;
    width: 28px;
    height: 28px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.05);
    border-radius: 2px;
    cursor: pointer;
}
.cp-arrow:hover{
    border: 1px solid #1081de;
}
.cp-arrow#cp-up{
    background-image: url("../images/arrow-up.png");
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 18px;
}
.cp-arrow#cp-down{
    background-image: url("../images/arrow-down.png");
    background-repeat: no-repeat;
    background-position: center center;
}
.cp-arrow:hover#cp-up{
    background-image: url("../images/arrow-up-active.png");
}
.cp-arrow:hover#cp-down{
    background-image: url("../images/arrow-down-active.png");
}
.confirm-cp.blue-btn{
    margin-top: 23px;
    padding: 0 14px;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    cursor: pointer;
}
/*p5样式*/
.enterprise-tip input{
    width: 678px;
    height: 36px;
    border-radius: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid #cccccc;
    padding: 9px 10px;
}
.enterprise-tip input:focus{
    border-color: #66afe9!important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
.release-p3.add-p5 .testin-nav-tabs{
    font-size: 13px;
}
.add-p5 .module_list_wrapper .module-item.main{
    font-size: 13px;
}
.module-item.main.add-padd {
    padding-left: 28px;
}
.enterprise-tip .new-problem{
    width: 836px;
}
.enterprise-tip .new-problem .modal-body{
    padding: 30px 22px 0px 20px!important;
}
.enterprise-tip .new-problem .new-problem-content{
    overflow: hidden;
    text-align: left;
    padding-bottom: 30px;
}
.enterprise-tip .new-problem .new-problem-content .new-problem-left{
    width: 210px;
    height: 522px;
    background: #FAFAFA;
    border: 1px solid #EBEBEB;
    border-radius: 2px;
    float: left;
}
.enterprise-tip .new-problem .new-problem-content .new-problem-right{
    width: 550px;
    margin-left: 20px;
    float: left;
}
.new-problem-left .testin-select{
    width: 170px;
}
.new-problem-left .choice-sele1{
    width: 170px;
}
.new-problem-left .choice-sele2{
    width: 121px;
}
.new-problem-left .choice-sele2 .testin-select{
    width: 121px;
}
.new-problem-right .mod-right-input,.new-problem-right .mod-rig-text{
    width: 100%;
}
.new-problem-right .mod-rig-title{
    margin-top: 29px;
    margin-bottom: 9px;
}
.new-problem-right .mod-rig-title:first-child{
    margin-top: -2px;
}
#edit-bug .new-problem .modify-message{
    background-color: #ffffff;
    line-height: 42px;
}
#edit-bug.enterprise-tip .new-problem .new-problem-content .new-problem-left{
    width: 340px;
    height: auto;
}
#edit-bug.enterprise-tip .new-problem .new-problem-content .new-problem-right{
    width: 426px;
}
#edit-bug .add-pho-discript{
    padding: 10px 10px 91px 20px;
}
#edit-bug .new-problem-right .mod-right-input, .new-problem-right textarea{
    width: 426px;
}
#edit-bug .new-problem-right .testin-select{
    width: 192px;
}
#edit-bug .new-problem-right .notice-error{
    padding-bottom: 0;
    margin-bottom: 0;
}
#edit-bug .add-dis-cont.word-col a{
    line-height: 24px;
    cursor: pointer;
}
/*p10样式*/
.release-p3 .tab-content>.tab-pane.examine-bug{
    padding: 20px 0;
}
.examine-bug .experts-tab1-top{
    border-bottom: 0;
    line-height: inherit;
    height: 40px;
    padding: 10px 20px 10px 30px;
}
.examine-bug .experts-tab1-top .input-checkbox-show{
    position: relative;
    top: 1px;
}
.examine-bug .experts-tab1-top .input-checkbox-show,.examine-bug .experts-tab1-top .input-right-span{
    vertical-align: top;
    display: inline-block;
}
.examine-bug .experts-tab1-top .checkbox-inline{
    vertical-align: top;
    position: relative;
    top: 1px;
}
.release-p3 .examine-bug .module_list_wrapper{
    padding: 0 20px;
    border-bottom: 0px solid #f0f0f0;
}
.release-p3 .examine-bug .module_list_wrapper .version-area:last-child{
    border-bottom: 1px solid #f0f0f0;
}
.examine-bug .sub-module-container .module-item .third-item .adjust-layout{
    padding: 0;
}
.examine-bug .third-item .title{
    padding-left: 0!important;
}
.examine-bug .third-item .action{
    padding-right: 24px!important;
}
.examine-bug .testin-select{
    width: 73px;
    text-align: left;
}
.examine-bug .testin-select-set{
    height: 28px;
    line-height: 28px;
    padding: 0px 20px 0px 12px;
    border-radius: 2px;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;

    background: url("../images/icon_02.png") no-repeat right center;
    padding: 0px 20px 0px 12px;
    text-align: left;
    color: #00c185;
    border: 1px solid #00c185;
}
.examine-bug .not-select .testin-select-set{
    border: 1px solid #cccccc;
    color: #333333;
    background: none;
    text-align: center;
    padding: 0;
}
.examine-bug .not-select .testin-select-set.t-hover{
    background: url("../images/icon_02.png") no-repeat right center;
    padding: 0px 20px 0px 12px;
    text-align: left;
    color: #00c185;
    border: 1px solid #00c185;
}
.examine-bug .testin-select-list{
    border-radius: 2px;
    font-size: 12px;
}
.examine-bug .testin-select .testin-select-list li:first-child{
    display: none;
}
.examine-bug .third-item .action .action-area .select-grade{
    margin-top: 10px;
    float: right;
    margin-left: 15px;
}
.enterprise-tip input:focus{
    border-color: #66afe9!important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
.examine-bug .bug-item-content{
    padding: 19px 24px 22px 50px;
    border-top: 1px solid #ebebeb;
    display: none;
}
.examine-bug .details-open .bug-item-content{
    display: block;
}
.examine-bug .sub-module-container .module-item .third-item .bug-item-content .adjust-layout{
    border: 1px solid #cccccc;
    border-bottom: 0;
    background-color: #FCFCFC;
}
.examine-bug .sub-module-container .module-item .third-item .bug-item-content .adjust-layout:last-child{
    border-bottom: 1px solid #cccccc;
}
.examine-bug .third-item .bug-item-content .action{
    padding-right: 20px;
}
.examine-bug .third-item .bug-item-content .title{
    padding-left: 20px!important;
}
.examine-bug .third-item .action .action-area .error-btn{
    border: 1px solid #EB5A3C;
    color: #EB5A3C;
}
.expert-bug .repeat-bug{
    width: 1084px;
}
.expert-bug .repeat-bug .modal-body{
    padding: 17px 44px 19px 41px!important;
}
.expert-bug .repeat-bug .modal-body .fail-contact-detail{
    margin: 0;
    padding: 0 20px;
    color: #333;
}
.expert-bug .repeat-bug .modal-body .per-fail-contact{
    padding: 13px 0;
    border-bottom: 1px solid #EBEBEB;
    border-top: 1px solid #ebebeb;
}
.expert-bug .repeat-bug .modal-body .repeat-bug-title{
    margin-bottom: 18px;
    font-size: 14px;
}
.expert-bug .repeat-bug .modal-body .fail-contact-detail .t-2{
    position: relative;
    top: -2px;
}
.expert-bug .repeat-bug .modal-body .tac button{
    margin-top: 20px;
}
/*p11*/
.examine-bug .results .third-item .adjust-layout{
    padding: 0 30px!important;
}
.examine-bug .results .third-item .title {
    padding-left: 23px!important;
}
.examine-bug .results .third-item .action {
    padding: 0!important;
}
.examine-bug .experts-tab1-top.add-top{
    border-bottom: 1px solid #ebebeb;
}
.module_list_wrapper.results .version-area:first-child .module-item.main{
    border-top: none;
}
/*p12-13*/
.module_list_wrapper.bugs-list .version-area:first-child .module-item.main{
    border-top: none;
}
.examine-bug.case-list .experts-tab1-top{
    padding: 10px 33px 10px 33px;
}
.examine-bug.case-list  .tab1-label-search{
    float: none;
    display: inline-block;
    vertical-align: top;
    margin-left: 155px;
}
.examine-bug.bg-list .experts-tab1-top{
    height: 41px;
}
.module_list_wrapper.bugs-list .module-item .action .action-area .checked-name{
    line-height: 28px;
    margin-top: 10px;
    float: right;
    width: 85px;
    margin-right: 3px;
}
.module_list_wrapper.bugs-list .module-item .bug-item-content .action .action-area .checked-name{
    margin-right: 8px;
}
.module_list_wrapper.bugs-list .module-item .action .action-area .bug-grade{
    line-height: 28px;
    margin-top: 10px;
    float: right;
    width: 30px;
    text-align: center;
}
.module_list_wrapper.bugs-list .module-item .action .action-area a{
    margin-left: 0;
    /*cursor: pointer;*/
    /*vertical-align: top;*/
}
.examine-bug .bugs-list .third-item .action{
    padding-right: 20px!important;
}
.examine-bug .bugs-list .third-item .title{
    padding-left: 20px!important;
}
.examine-bug.bg-list .sub-module-container .module-item .third-item .bug-item-content .adjust-layout{
    background-color: #FAFAFA;
}
.bugs-list .third-item .bug-item-content .title .per-fail-li-p{
    background-color: #FAFAFA;
}
/*p14-p15*/
.examine-bug.case-list.report .experts-tab1-top{
    padding: 10px 20px 10px 42px;
}
.examine-bug.case-list.report .experts-tab1-top.mar-left-reduce{
    padding-left: 27px;
    border-left:1px solid #ebebeb ;
    border-right:1px solid #ebebeb ;
}
.examine-bug.case-list.report .tab1-label-search{
    float: right;
}
.release-p3 .examine-bug.report .module_list_wrapper{
    padding: 0 40px 0 42px;
}
.examine-bug.report .module_list_wrapper .module-item.main .title{
    padding-left: 0;
}
.examine-bug.report .module_list_wrapper .sub-module-container .module-item .adjust-layout{
    padding: 12px 45px 12px 36px;
}
.examine-bug.report .third-item .adjust-layout{
    padding: 0 20px 0 30px!important;
}
.examine-bug.bg-list.report .experts-tab1-top{
    padding: 10px 20px 10px 42px;
}
.module_list_wrapper.bug-list .version-area:first-child .module-item.main{
    border-top: none;
}
.examine-bug.bg-list.report .third-item .adjust-layout{
    padding: 1px 10px 1px 21px!important;
}
.examine-bug.bg-list.report .third-item .action{
    padding-right: 0!important;
}
.report-remark-area{
    clear: both;
    border-top: 1px solid #ebebeb;
    padding-top: 19px;
    padding-right: 4px;
}
.details-content .report-remark-area .sup-info{
    width: 100%;
}
.edit-remark,.save-remark{
    margin-left: 12px;
}
.edit-remark .iconfont,.save-remark .iconfont{
    margin-right: 5px;
}
.marking-text{
    overflow: hidden;
}
.marking-text textarea{
    width: 755px;
    height: 60px;
    float: left;
    font-size: 13px;
    padding: 10px 20px;
}
.marking-text .save-remark{
    float: left;
    margin-top: 18px;
}
.file-area{
    overflow: hidden;
    padding-bottom: 13px;
}
.file-area .per-fail-li-p.bef{
    width: auto;
    float: left;
}
.file-area .per-fail-li-p{
    float: left;
    width: 270px;
}
.details-right .pic-area .expert-control{
    float: left;
    width: 167px;
    height: 294px;
    margin-left: 20px;
    text-align: center;
}
.control-title{
    font-size: 14px;
    margin-bottom: 20px;
}
.expert-control button{
    width: 74px;
    height: 28px;
    margin-bottom: 20px;
}
#quota .modal-body{
    padding: 36px 0 46px 0!important;
    text-align: center;
}
#quota .amount-area{
    width: 146px;
    text-align: left;
    display: inline-block;
    margin-left: 8px;
}
#quota .amount-area p{
    line-height: 27px;
    margin-bottom: 0;
}
#quota .balance-span{
    color: #ff7733;
}
#quota .message-p{
    margin: 30px 0;
}
#quota button.color-or:hover{
    background-color: #ff843e;
}
#quota button.color-or:focus{
    background-color: #ff843e;
}
/*p18*/
.release-p3.rewards .examine-bug.report .module_list_wrapper{
    padding: 20px 0 26px 0;
}
.release-p3.rewards .tab-content>.tab-pane.examine-bug{
    padding: 0;
}
.reward-third{
    padding: 20px;
    display: none;
}
.opening .reward-third{
    display: block;
}
.reward-third .details-content .sup-info{
    background-color: #ffffff;
}
.bug-list .third-item .details-content.details-top{
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #ebebeb;
}
#tab2 .bug-list .third-item .details-top .details-top-in{
    border-bottom: 1px solid #ebebeb;
}
#tab2 .bug-list .third-item .details-content.details-top{
    border-top: 1px solid #ebebeb;
    border-bottom: none;
    overflow: visible;
}
#tab2 .bug-list .third-item .details-content{
    border-top: 0;
}
.details-top-in .details-item{
    margin-right: 50px;
}
.details-top-in .details-item img{
    margin-right: 10px;
}
#tab2 .bug-list .third-item .details-content .marking-text textarea{
    width: 740px;
}
.marking-text .btn-sm{
    float: left;
    margin-top: 18px;
    margin-left: 20px;
    width: 74px;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
}
/*p22*/
.release-p3 .module_list_wrapper.p22{
    border-bottom: 0;
    padding: 18px 0 26px 0;
}
/*p12头部样式*/
.blue-btn.bottom-btn.usecase-save{
    font-size: 12px;
    padding: 0 23px;
    line-height: 28px;
    height: 28px;
    position: relative;
    margin-left: 20px;
    top: -36px;
}
.claim_topApp.usecase-APP{
    margin:15px 30px 15px 20px;
}
/*验收用例页面样式*/
.blue-btn.bottom-btn.acc-residue{
    font-size: 12px;
    padding: 0 13px;
    line-height: 28px;
    height: 28px;
    position: relative;
    top: -24px;
}
/*专家审核用例设计头部样式*/
.experts-Top{
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.04);
    border-radius: 2px;
    margin: 20px 0;
    padding-bottom: 20px;
}
.experts-table{
    margin:  20px;
}
.experts-Top .zc_test-box.add-p5{
    box-shadow: none;
    border: none;
}
.experts-table table{
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #333333;
    letter-spacing: 0px;
    line-height: 50px;
}
.experts-table-tr{
    line-height: 60px;
    border-bottom: 1px solid #ebebeb;
}
.experts-table-th{
    border: 1px solid #EBEBEB;

}
.experts-table table th{
    text-align: center;
    line-height: 40px;
    background: #FAFAFA;
    /*border: 1px solid #EBEBEB;*/
}
.table-th-one{
    width: 210px;
}
.table-th-two{
    width: 200px;
}
.table-th-three{
    width: 215px;
}

.table-th-four{
    width: 220px;
}
.experts-table a:link,
.experts-table a:visited,
.experts-table a:active{
    text-decoration: none;
    color:#22a4e5;
}
.experts-table a:hover{
    text-decoration: none;
    color: #25b3fa;
}
.experts-table a.experts-btn{
    color: #333;
    text-decoration: none;
    border: 1px solid #BDBDBD;
    border-radius: 2px;
    width: 85px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
}
.experts-table a.experts-btn:hover{
    border: 1px solid #1081DE;
}
.experts-PM{
    margin: 0 20px;
    background: #FAFAFA;
    border: 1px solid #EBEBEB;
    border-radius: 2px;
    padding: 20px 0 10px 20px;
}
.experts-Top.mar-top-none{
    margin-top: 0;
}





